@import '../base/app.scss';

.wrapper {
  flex-direction: column;
  position: relative;
}

.buttons {
  width: 100%;
  @include flex-row;
  justify-content: space-between;
  margin-top: 16px;
  padding: 8px;
  @media (max-width:560px) {
    flex-direction: column;
  }
  &__btn {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
.adminPanel {
  position: relative;;
}

.title {
  text-align: center;
  margin: 10px 0;
}

.adminDevice {
  display: grid;
  grid-template-columns: 1fr 6fr 4fr 6fr 2fr 2fr 2fr 1fr 6fr 2fr 2fr 3fr;
  grid-column-gap: 10px;
  margin: 5px 2px;
  font-family: "Montserrat-regular";
  color: $primary; 
  align-items: center; 
}
.adminDelivery {
  display: grid;
  grid-template-columns: 1fr 31fr 5fr;
  grid-column-gap: 10px;
  margin: 5px 2px;
  font-family: "Montserrat-regular";
  color: $primary;
  align-items: center;
}
.note {
  position: fixed;
  top: calc(50% - 23px);
  left: calc(50% - 108px);
  font-size: 40px;
  font-weight: 600;
  color: $danger;
}