@import '../base/app.scss';

.container {
  @include flex-column-center;
}

.wrapper {
  justify-content: center;
  position: relative;
}

.card {
  width: 420px;
  padding: 20px 10px;
  background-color: $back;
  border: 1px solid $primary;
  font-size: 16px;
  color: $primary;
  &__text {
    margin: auto;
  }
}

.form {
  @include flex-column;
  align-items: space-between;
  &__error {
    color: $danger;
    margin-top: 10px;
    min-height: 12px;
    font-size: 12px;
  }
  &__hint {
    color: $primary;
  }
}
.row {
  @include flex-row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  @media (max-width:560px) {
    @include flex-column-center;    
  }
}

.button {
  @include flex-row;
  justify-content: space-around;
  @media (max-width:560px) {
    padding: 10px 0;
    width: 100%;    
  }
}

.quest {
  margin-left: 5px;
}

.link {
  position: relative;
  padding: 0 10px;
  font-size: 14px;
  font-family: "Montserrat-Regular";
  color: $primary;
  &:hover {
    color: $hover;
    font-weight: 700;
  }
  &:active {
    color: $back;
  }
}

.danger {
  position: absolute;
  width: 400px;
  @include flex-row-center;
  top: -50px;
  left: calc(50% - 200px);
  &__text {
    font-size:18px;
    color: $danger;
  }
}