@import '../base/app.scss';

.cards {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 10px;
}

.wrapper {
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.menu {
  width: 100%;
  @include flex-row;
  align-items: center;
  justify-content: start;
  
  &__btn {
    width: 100px;
    margin: 10px;
  }
}
.orderPanel {
  position: relative;
  width: 100%;
}
.message {
  position: fixed;
  top: calc(50% - 23px);
  left: calc(50% - 108px);
  font-size: 40px;
  font-weight: 600;
  color: $danger;
}
