@import '../base/app.scss';

.wrapper {
  flex-direction: column;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Montserrat-Regular";
  font-size: 32px;
  
  padding: 20px;
}

.user {
  width: 100%;
  @include flex-row;
  align-items: center;
  &__title {
    margin: 5px;
    font-family: "Montserrat-Regular";
    font-weight: 700;
    color: $primary;
  }
  &__text {
    margin: 5px;
    font-family: "Roboto";
    font-weight: 400;
    color: black;
  }
}

.container {
  animation: mount 300ms;
}

@keyframes mount {
  from {
    transform: scale(0.1);
  }

  to {
    transform: scale(1);
  }
}
