@import './_base.scss';
@import './_fonts.scss';

//$primary: #822eff;
$primary: rgb(175, 196, 16);
//$back: #dac2ff;
$back: #f5f8dd;
$button: #e1e9a3;
$hover: #a2b512;
$active: #7d8c0a;
$orange: #ff6702;
$danger: #ff0191;
$red: #ff0000;
$gray: #2b2b2b;

$iconwidth: 24px;

@mixin border {
  border: 1px solid $primary;
  border-radius: 5px;
}
@mixin border-danger {
  border: 1px solid $danger;
  border-radius: 5px;
}
@mixin border-sm {
  border: 1px solid $primary;
}
@mixin border-danger-sm {
  border: 1px solid $danger;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  @include flex-column; 
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

input {
  &:hover {
    border-color: $back;
  }
  &:active {
    border-color: $back ;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 20px);
  @media (min-width: 576px) {
    width: 540px;
  }
  @media (min-width: 768px) {
    width: 720px;
  }
  @media (min-width: 992px) {
    width: 960px;
  }
  @media (min-width: 1200px) {
    width: 1140px;
  }
  @media (min-width: 1400px) {
    width: 1320px;
  }
  @media (min-width: 1600px) {
    width: 94%;
  }
}

.container {
  min-height: calc(100vh - 193px);
}

.title {
  color: $primary;
  font-size: 16px;
}

