@import '../base/app.scss';

.brandItem {
  position: relative;
  margin: 5px 10px;
  width: 95px;
  @include flex-column-center;
  
  @media (max-width: 992px) {
    margin: 5px 5px;
  }
  @media (max-width: 768px) {
    margin: 5px 3px;
  }
  @media (max-width: 576px) {
    padding: 5px 1px;
    margin: auto;
  }
  
  &:after {
    position: absolute;
    content: "";
    width: 100%;
    bottom: -1px;
    height: 1px;
    background-image: linear-gradient(to right, $back 0%, $active 100%);
  }
  &:hover {
    cursor: pointer;
    }
  &__image {
    width: 100%;
    aspect-ratio: 10/7;
    object-fit: contain;
    img {
      width: 100%;
    }
    }
  &__name {
    margin: 5px 0;
    color: $active;
    font-family: "Montserrat-Regular";
    font-size: 14px;
  }
}