@import '../base/app.scss';

.header {
  //position: sticky;
  top: 0;
  padding: 5px 0;
  background-color: $back;
  @include border;
  border-radius: 0;
  color: $primary;
  @include flex-row-center;
  flex-wrap: nowrap;
  z-index: 10;
  transition: 0.5s;
}

.logo {
  width: 130px;
  height: 65px;
  background: linear-gradient($primary 50%, $gray 50%, $gray 55%, $primary 55%);
  mask: url('../../images/logo.png') center/contain no-repeat;
  &__image {
    width: 100%;
    object-fit: scale-down;
  }
  &:hover {
    cursor: pointer;
  }
}

.user {
  @include flex-row;
  align-items: center;
  justify-content: space-between;
  
}
.icon {
  margin-right: 5px;
  width: $iconwidth;
  height: $iconwidth;
  background-color: $primary;
  
  &__dis {
    margin-right: 5px;
    height: 32px;
    opacity: 0;
  }
  &:hover {
    cursor: pointer;
    background-color: $hover;
  }
  &:active {
    background-color: $active;
  }
  &::after{
    display: none;
  }
}
.icon.basket {
  mask: url('../../images/basketicon.png') center/contain no-repeat;
}
.icon.phone {
  mask: url('../../images/phoneicon.png') center/contain no-repeat;
}
.icon.search {
  mask: url('../../images/searchicon.png') center/contain no-repeat;
}
.box {
  position: relative;
}
.numberbasket {
  position: absolute;
  top: -$iconwidth/3;
  width: $iconwidth/1.5;
  height: $iconwidth/1.5;
  background-color: $danger;
  border-radius: 50%;
  color: white;
  font-size: 10px;
  text-align: center;
  line-height: 1.6;
}
.menu {
  position: relative;
  &__input {
    position: relative;
    z-index: 6;
    @media (max-width: 767px) {
      display: block;
      position: absolute;
      top: -10px;
      left: 40px;
      width: 196px;
    }
    @media (max-width: 560px) {
      left: -85px;
      top: 40px;
    }
  }
  &__icon {
    display: none;
    position: relative;
    @media (max-width: 767px) {
      display: block;
    }
  }
  &__title {
    font-family: "Montserrat-Regular";
    color: $primary;
    font-style: italic;
    @media (max-width: 767px) {
      display: none;      
    }
  }
  &__item {
    width: 120px;
    padding: 2px;
    @media (max-width: 767px) {
      padding: 5px;
      background: white;
      @include border;
    }
    
  }
  a {
    font-family: "Montserrat-Regular";
    color: $primary;
  }
}