@import '../base/app.scss';

.header {
  position: relative;
  padding: 5px 0;
  background-color: $back;
  @include border;
  border-radius: 0;
  color: $primary;
  @include flex-row-center;
  flex-wrap: nowrap;
  z-index: 10;
  transition: 0.5s;
}

.logo {
  width: 130px;
  height: 65px;
  &__image {
    width: 100%;
    object-fit: scale-down;
  }
  &:hover {
    cursor: pointer;
  }
}

.user {
  @include flex-row;
  align-items: center;
  justify-content: space-between;
  
}
.icon {
  margin-right: 5px;
  height: 32px;
  &__dis {
    margin-right: 5px;
    height: 32px;
    opacity: 0;
  }
  &:hover {
    cursor: pointer;
  }
  &:active {
    opacity: 0.5;
  }
  &::after{
    display: none;
  }
}

.menu {
  position: relative;
  &__input {
    position: relative;
    z-index: 5;
    @media (max-width: 767px) {
      display: block;
      position: absolute;
      top: -10px;
      left: 40px;
      width: 196px;
    }
    @media (max-width: 560px) {
      left: -85px;
      top: 40px;
    }
  }
  &__icon {
    display: none;
    position: relative;
    @media (max-width: 767px) {
      display: block;
    }
  }
  &__title {
    font-family: "Montserrat-Regular";
    color: $primary;
    font-style: italic;
    @media (max-width: 767px) {
      display: none;      
    }
  }
  &__item {
    width: 120px;
    padding: 2px;
    @media (max-width: 767px) {
      padding: 5px;
      background: white;
      @include border;
    }
    
  }
  a {
    font-family: "Montserrat-Regular";
    color: $primary;
  }
}