@import '../base/app.scss';


.infoItem {
  display: grid;
  grid-template-columns: 4fr 11fr 11fr 11fr 11fr 11fr 11fr 11fr 11fr 8fr;
}
.infoId {
  @include border-sm;
    margin: 2px 1px;
    padding: 2px 5px;
    line-height: 1.2;
}