@import '../base/app.scss';

.loader {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 200px;
  left: calc(50% - 100px);
  background-image: linear-gradient(to left, transparent, $primary, transparent); 
  border-radius: 50%;
  animation: rotate 0.5s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}