@import '../base/app.scss';

.modal {
  position: absolute;
  top: -110px;
  width: 560px;
  @include flex-column-center;
  padding: 10px;
  background-color: $back;
  @include border;
  z-index: 10;
  @media (max-width: 560px) {
    width: 330px;
  }
  &__header {
    margin: 10px;
    font-size: 22px;
    color: $primary;
  }
  &__body {
    width: 100%;
  }
  &__futor {
    width: 100%;
    @include flex-row;
    justify-content: space-around;
    margin:10px;
  }
  &__language {
    padding: 10px 0;
    font-size: 22px;
    color: $primary;
    width: 170%;
    background-color: $back;
    @include border;
    @include flex-column-center;
    &_row {
      @include flex-row-center;
    }
    &_column {
      @include flex-column;
      margin: 10px;
    }
    &_title {
      width: calc(100% - 30px);
      padding: 5px 15px;
      margin: 5px 0;
      font-size: 14px;
      font-family: "Montserrat-Regular";
      border: 1px solid #b1c610;
      border-radius: 5px;
    }
  }
  .info {
    width: 100%;
    @include flex-row;
    align-items: center;
    &__title {
      width: 35%;
      margin: 3px;
    }
    &__description {
      width: 65%;
      margin: 3px;
    }
    &__remove {
      margin: 3px;
    }
  }
}
.form {
  @include flex-column;
  align-items: space-between;

  &__error {
    color: $danger;
    margin-top: 10px;
    min-height: 12px;
    font-size: 12px;
  }

  &__hint {
    color: $primary;
  }
}
.message {
  font-family: "Montserrat-regular";
  color: $danger;
}