@import '../base/app.scss';

.navbar {
  position: sticky;
  //top: 76px;
  top: 0;
  padding: 5px 0;
  background-color: $back;
  @include border;
  border-radius: 0;
  color: $primary;
  @include flex-row-center;
  flex-wrap: nowrap;
  z-index: 5;
  @media (max-width: 767px) {
    padding: 0;
  }
}

.link {
  position: relative;
  padding: 0 10px;
  font-size: inherit;
  font-family: "Montserrat-Regular";
  color: $primary;
  &:hover {
    color: $hover;
  }
  &:active {
    color: $active;
  }
}

.icon {
  position: relative;
  margin-right: 5px;
  width: $iconwidth;
  height: $iconwidth;
  background-color: $primary;
  
  &:hover {
    cursor: pointer;
    background-color: $hover;
  }
  &:active {
    background-color: $active;
  }
  &::after {
    display: none;
  }
}
.icon.iconmenu {
  mask: url('../../images/menuicon.png') center/contain no-repeat;
}
.icon.iconbasket {
  mask: url('../../images/basketicon.png') center/contain no-repeat;
}
.box {
  position: relative;
}
.numberbasket {
  position: absolute;
  top: -$iconwidth/3;
  width: $iconwidth/1.5;
  height: $iconwidth/1.5;
  background-color: $danger;
  border-radius: 50%;
  color: white;
  font-size: 10px;
  text-align: center;
  line-height: 1.6;
}

.menu {
  position: relative;
  width: 100%;
  &__content {
    @include flex-row;
    justify-content: space-between;
    position: relative;
    z-index: 5;
    @media (max-width: 767px) {
      display: block;
      position: absolute;
      top: 26px;
      left: 0px;
      background: white;
      line-height: 2;
    }
    &_shop {
      @include flex-row;
      @media (max-width: 767px) {
        @include flex-column;;
      }
    }
  }
  &__icon {
    display: none;
    position: relative;
    @media (max-width: 767px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}
