@import '../base/app.scss';

.card {
  width: 100%;
  @include flex-column;
  @include border;
  border-radius: 0;
  &__title {
    display: grid;
    grid-template-columns: 2fr 3fr 4fr 3fr 4fr 3fr 98px;
    align-items: center;
    font-family: 'Montserrat-Regular';
    color: $primary;
    background: $back;
    padding: 0 2px 0 5px;
  }
  &__content {
    display: grid;
    grid-template-columns: 2fr 3fr 4fr 3fr 4fr 3fr 98px;
    align-items: center;
    padding: 0 2px 2px 5px;
    background: $back;
    border-bottom: 1px dashed $primary;
  }
  &__futor {
    display: grid;
    grid-template-columns: 4fr 9fr 2fr 3fr 98px;
    align-items: center;
    margin: 0 2px 0 5px;
    font-family: 'Montserrat-Regular';
    color: $primary;
  }
}
.b {
  font-family: "Roboto", sans-serif;
  color: black;
  &__b {
    font-weight: 600;
  }
}
.r {
  color: $danger;
}