@import '../base/app.scss';

.file {
  width: calc(100% - 4px);
  display: flex;
  margin: 2px 1px;
  &__file {
    display: none;
  }
  &__text {
    
    width: 150px;
    font-size: 14px;
    line-height: 1.2;
    font-family: "Montserrat-Regular";
    color: $primary;
    &:active {
      color: white
    }
  }
  &__label {
    width: 100%;
    text-align: center;
    @include border;
    padding: 2px 5px;
    background-color: white;
    &:hover {
      cursor: pointer;
    }
    &:active {
      background-color: $primary;      
    }
  }
}