@import '../base/app.scss';

.myBtn, .myBtnDanger {
  min-width: 27px;
  margin: 2px;
  padding: 5px;
  font-size: 14px;
  background: transparent;
  &:hover, &:focus {
    cursor: pointer;
    padding: 4px;
    border-width: 2px;
  }
  &:active {
    color: white;
  }
} 
.myBtn__sm, .myBtnDanger__sm {
  min-width: 27px;
  margin: 2px;
  padding: 2px 3px;
  font-size: 14px;
  background: transparent;
  &:hover, &:focus {
    cursor: pointer;
    padding: 0 1px;
    border-width: 2px;
  }
  &:active {
    color: white;
  }
}

.myBtn, .myBtn__sm {
  color: $primary;
  &:active {
    background: $primary;
  }
}
.myBtn {
  @include border;
}
.myBtn__sm {
  @include border-sm;
}
.myBtnDanger, .myBtnDanger__sm {
  color: $danger;
  &:active {
    background: $danger;
  }
}
.myBtnDanger {
  @include border-danger;
}
.myBtnDanger__sm {
  @include border-danger-sm;
}
.myBtn, .myBtnDanger, .myBtn__sm, .myBtnDanger__sm {
  &:disabled {
    cursor: no-drop;
  }
}