@import '../base/app.scss';

.menu {
  position: relative;
  @include flex-column;
  transition: 0.5s;
  &__items {
    width: inherit;
    top: 30px;
    right: 0;
    margin: 2px;
    position: absolute;
    @include flex-column;
    background: white;
    z-index: 10;
    &_rev {
      position: absolute;
      top: 32px;
      left: 0;
      position: absolute;
      @include flex-row;
      background: white;
      z-index: 10;
    }
  }
  &__link {
    display: block;
    padding: 6px;
    font-size: inherit;
    font-family: inherit;
    color: $primary;
    border: 1px solid $primary;
    &:hover {
      color: #ffffff;
      background-color: $primary;
    }
    &:active {
      background-color: $back;
    }
  }
  &__icon, &__icon_auth {
  //margin-right: 5px;
  width: $iconwidth;
  height: $iconwidth;
  background-color: $primary;
  &:hover {
    cursor: pointer;
    background-color: $hover;
    }
  &:active {
    background-color: $active;
    }
  &::after {
    display: none;
    }
  }
  &__icon {
    mask: url('../../images/avatar.png') center/contain no-repeat;
    &_auth {
      mask: url('../../images/avatarAuth.png') center/contain no-repeat;
    }
  }
  
}